/* cores continuam retro */
:root{
  --bg:#020617;
  --card:#050b1a;
  --ciano:#22d3ee;
  --roxo:#a855f7;
  --verde:#22c55e;
  --amarelo:#facc15;
  --vermelho:#ef4444;
  --laranja:#fb923c;
  --texto:#e5e7eb;
}

.res{background:var(--laranja)}

.save-buttons{
  display:flex;
  gap:10px;
}

.main.alt{
  background:linear-gradient(90deg,var(--ciano),var(--roxo));
}

/* OVERLAY FINAL */
.glitch-overlay{
  position:fixed;
  inset:0;
  background:black;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  z-index:2000;
}

.glitch-overlay p{
  font-size:18px;
  color:var(--amarelo);
}

.glitch-overlay.hidden{
  display:none;
}
